---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--color-principal: #111315;
		--color-secundario: #1B1D1F;
		--color-botones: #6F757C;
		--color-precio: #BEE3CC;
		--color-tags: #F6C768;
		--color-vendido: #ED735D;
		--color-texto: #FEF7EE;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: var(--color-principal);
		background-size: 224px;
	}

	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
