---
import {Tarjetas} from "../components/Tarjetas"
---

<section>
    <div class="container-section">
        <div class="section">
            <h1>Our Collection</h1>
            <p>
              Introducing our Coffee Collection, a selection of unique coffees from different roast types and origins, expertly roasted in small batches and shipped fresh weekly.
            </p>
        </div>
        <div class="section-productos">
            <Tarjetas client:only/>
        </div>
    </div>
</section>

<style>
    section{
        width: 90%;
        background-color: var(--color-secundario);
        position: absolute;
        top: 0;
        border-radius: 20px;  
        margin-top: 140px; 
        max-width: 1000px;
        padding: 20px 0px;
    }

    .container-section{
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section{
        width: 100%;
        color: var(--color-texto);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .section h1{
        font-size: 2rem;
    }

    .section p{
        font-size: 1rem;
        color: var(--color-botones);
        width: 500px;
    }

    .botones{
        display: flex;
        gap: 20px;
    }

    .botones a{
        text-decoration: none;
        font-size: 1rem;
        padding: 10px;
        border-radius: 10px;
        color: var(--color-texto);
        cursor: pointer;
    }


</style>

<script>
    
</script>